<div class="header-container">
    <img src="./assets/img/formation.jpg" alt="Our Logo" class="header__logo">
    {% include './_nav.twig' %}
    <button class="header__btn_request">Request demo</button>
</div>