{% block nav %}
    <nav class="nav">
        <div class="nav_full">
            <ul class="nav_full__items-list">
                <li class="nav_full__item">
                    <a href="index.html">Product</a>
                </li>
                <li class="nav_full__item">
                    <a href="about.html">What is DYNOO</a>
                </li>            
                <li class="nav_full__item">
                    <a href="#">Industries</a>
                </li>            
                <li class="nav_full__item">
                    <a href="#">Company</a>
                </li>            
                <li class="nav_full__item">
                    <a href="#">Resourses</a>
                </li>
            </ul>
        </div>
        <div class="nav_ham">
            <ul class="nav_ham__items-list">
                <li class="nav_ham__item">
                    <a href="index.html">Index</a>
                </li>
                <li class="nav_ham__item">
                    <a href="about.html">About</a>
                </li>            
                <li class="nav_ham__item">
                    <a href="#">Industries</a>
                </li>            
                <li class="nav_ham__item">
                    <a href="#">Company</a>
                </li>            
                <li class="nav_ham__item">
                    <a href="#">Resourses</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock nav %}